<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.23.0.276662</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {732.02706770480779, 1048.3082011800439}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColorProfiles</key>
	<array>
		<dict>
			<key>data</key>
			<data>
			AAACJGFwcGwEAAAAbW50clJHQiBYWVogB+EABwAHAA0AFgAgYWNz
			cEFQUEwAAAAAQVBQTAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA
			0y1hcHBsyhqVgiV/EE04mRPV0eoVggAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAKZGVzYwAAAPwAAABlY3BydAAAAWQAAAAj
			d3RwdAAAAYgAAAAUclhZWgAAAZwAAAAUZ1hZWgAAAbAAAAAUYlhZ
			WgAAAcQAAAAUclRSQwAAAdgAAAAgY2hhZAAAAfgAAAAsYlRSQwAA
			AdgAAAAgZ1RSQwAAAdgAAAAgZGVzYwAAAAAAAAALRGlzcGxheSBQ
			MwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAB0ZXh0AAAAAENvcHlyaWdodCBBcHBsZSBJbmMuLCAyMDE3
			AABYWVogAAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAACD3wAAPb//
			//+7WFlaIAAAAAAAAEq/AACxNwAACrlYWVogAAAAAAAAKDgAABEL
			AADIuXBhcmEAAAAAAAMAAAACZmYAAPKnAAANWQAAE9AAAApbc2Yz
			MgAAAAAAAQxCAAAF3v//8yYAAAeTAAD9kP//+6L///2jAAAD3AAA
			wG4=
			</data>
			<key>space</key>
			<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
		</dict>
	</array>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2005-05-06 08:24:31 +0000</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1.0000 cm = 1.0000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{219.68422826385498, 474.80302180480953}, {14.1732, 14.1732}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>ArialRoundedMTBold</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>975</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>2</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs28 \cf0 +}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>975</integer>
			</dict>
			<key>ID</key>
			<integer>973</integer>
			<key>Points</key>
			<array>
				<string>{211.4270555925242, 497.23459447614033}</string>
				<string>{221.40650759896411, 487.25436200047261}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>4</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>972</integer>
			<key>Points</key>
			<array>
				<string>{211.42705559252423, 466.54514913347884}</string>
				<string>{256.28980134303185, 511.40759488398646}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>CornerRadius</key>
					<real>4</real>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{255.11810874938965, 510.2362174987793}, {141.73182129854735, 85.039369583129883}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1046</integer>
			<key>ImageID</key>
			<integer>29</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
						<key>space</key>
						<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{70.866602659277362, 496.06298923492432}, {141.73182129854735, 85.039369583129883}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1045</integer>
			<key>ImageID</key>
			<integer>28</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
						<key>space</key>
						<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{70.866141319274902, 382.67716312408447}, {141.73182129854735, 85.039369583129883}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1044</integer>
			<key>ImageID</key>
			<integer>27</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
						<key>space</key>
						<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.17322826385498</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>30</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image29.png</string>
		<string>image28.png</string>
		<string>image27.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2018-04-16 10:12:50 +0000</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSJobFeatures</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpAIY=</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSPagesPerSheet</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.27554607391357, 841.8897705078125}</string>
		</array>
		<key>NSPrintAllPages</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSReversePageOrder</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSScalingFactor</key>
		<array>
			<string>float</string>
			<string>0.779731</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{539, 185}, {944, 759}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>156</integer>
		<key>TopSlabHeight</key>
		<real>33</real>
		<key>VisibleRegion</key>
		<string>{{33.344834068010194, 70.109651117354773}, {406.12297903345751, 553.18224723083574}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>0.0</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
