<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.23.0.276662</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {439.06476971056907, 628.76800495910675}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-01-10 07:32:48 +0000</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1.0000 cm = 1.0000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1177</integer>
			<key>Points</key>
			<array>
				<string>{218.01883779367904, 354.33070659637451}</string>
				<string>{198.42519569396973, 283.46456527709961}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<false/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>176</integer>
			</dict>
			<key>ID</key>
			<integer>1175</integer>
			<key>Points</key>
			<array>
				<string>{212.59800000000001, 389.76308888901957}</string>
				<string>{184.25149999999999, 389.76306666705864}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>166</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1170</integer>
			</dict>
			<key>ID</key>
			<integer>1174</integer>
			<key>Points</key>
			<array>
				<string>{292.58801057587254, 524.83339834772369}</string>
				<string>{309.77475332962308, 552.33200105793628}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1160</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1169</integer>
			</dict>
			<key>ID</key>
			<integer>1173</integer>
			<key>Points</key>
			<array>
				<string>{274.34134683669936, 524.83339778718505}</string>
				<string>{257.15452140780803, 552.33200335783545}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1160</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1163</integer>
			</dict>
			<key>ID</key>
			<integer>1172</integer>
			<key>Points</key>
			<array>
				<string>{122.50908397336022, 524.83339869786755}</string>
				<string>{139.6957757966492, 552.33200076222533}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>943</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1008</integer>
			</dict>
			<key>ID</key>
			<integer>1171</integer>
			<key>Points</key>
			<array>
				<string>{104.26257750280688, 524.83339950701986}</string>
				<string>{87.076003121829245, 552.33200048475032}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>943</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{283.46499999999997, 552.75599999999997}, {70.866100000000003, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1170</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Source 2\

\b0 Usage 0.8}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212.59800000000001, 552.75599999999997}, {70.866100000000003, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1169</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.34902</real>
						<key>g</key>
						<real>0.64313699999999996</real>
						<key>r</key>
						<real>0.43137300000000001</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Source 1\

\b0 Usage 0.0}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{113.386, 552.75599999999997}, {70.866100000000003, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1163</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Source 2\

\b0 Usage 0.2}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1160</integer>
			</dict>
			<key>ID</key>
			<integer>1162</integer>
			<key>Points</key>
			<array>
				<string>{220.10095627984578, 467.99384959417728}</string>
				<string>{261.78876759550366, 495.78565086480023}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1012</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>943</integer>
			</dict>
			<key>ID</key>
			<integer>1161</integer>
			<key>Points</key>
			<array>
				<string>{176.74919425694901, 467.99385094563593}</string>
				<string>{135.06167910160698, 495.78565038626908}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1012</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{141.732, 439.37}, {113.386, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1012</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.61568599999999996</real>
						<key>g</key>
						<real>0.42352899999999999</real>
						<key>r</key>
						<real>0.235294</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 view_equalizer}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240.94499999999999, 496.06299999999999}, {85.039400000000001, 28.346399999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1160</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Channel 2\

\b0 load_equalizer}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{42.5197, 552.75599999999997}, {70.866100000000003, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1008</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.34902</real>
						<key>g</key>
						<real>0.64313699999999996</real>
						<key>r</key>
						<real>0.43137300000000001</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Source 1\

\b0 Usage 1.0}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{70.866100000000003, 496.06299999999999}, {85.039400000000001, 28.346399999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>943</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.34902</real>
						<key>g</key>
						<real>0.64313699999999996</real>
						<key>r</key>
						<real>0.43137300000000001</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 Channel 1\

\b0 load_equalizer}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>1157</integer>
			<key>Points</key>
			<array>
				<string>{198.42500000000001, 155.90600000000001}</string>
				<string>{198.42500000000001, 283.46499999999997}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{155.905, 354.32999999999998}, {28.346499999999999, 70.866100000000003}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>176</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>Power Mac G5</string>
			</dict>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Scale</key>
			<real>0.40000000596046448</real>
			<key>StretchImage</key>
			<true/>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.4399999999999999, 1.4399999999999999}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212.59800000000001, 354.32999999999998}, {28.346499999999999, 70.866200000000006}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>166</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>Power Mac G5</string>
			</dict>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Scale</key>
			<real>0.40000000596046448</real>
			<key>StretchImage</key>
			<true/>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.4399999999999999, 1.4399999999999999}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.07900000000001, 283.46499999999997}, {198.42599999999999, 70.866}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>863</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{-0.5, -0.49999500000000002}</string>
					<string>{-0.5, -0.49999500000000002}</string>
					<string>{-0.5, -0.49999500000000002}</string>
					<string>{-0.285715, 0.5}</string>
					<string>{-0.285715, 0.5}</string>
					<string>{-0.285715, 0.5}</string>
					<string>{-0.14285700000000001, 0.49999500000000002}</string>
					<string>{-0.14285700000000001, 0.49999500000000002}</string>
					<string>{-0.14285700000000001, 0.49999500000000002}</string>
					<string>{0.5, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.346699999999998, 283.464}, {155.905, 70.866699999999994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>862</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.5, -0.499998}</string>
					<string>{0.40909000000000001, -0.49999199999999999}</string>
					<string>{0.40909000000000001, -0.49999199999999999}</string>
					<string>{0.40909000000000001, -0.49999199999999999}</string>
					<string>{0.5, 0.49998999999999999}</string>
					<string>{0.5, 0.49999199999999999}</string>
					<string>{0.5, 0.49998999999999999}</string>
					<string>{0.31818200000000002, 0.5}</string>
					<string>{0.31818200000000002, 0.5}</string>
					<string>{0.31818200000000002, 0.5}</string>
					<string>{-0.5, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.34902</real>
						<key>g</key>
						<real>0.64313699999999996</real>
						<key>r</key>
						<real>0.43137300000000001</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.2268</string>
						<key>g</key>
						<string>0.42</string>
						<key>r</key>
						<string>0.28154</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.291, 28.3475}, {28.346399999999999, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>175</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>w</key>
						<real>0.5</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.291, 56.692900000000002}, {28.346499999999999, 28.346800000000002}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>174</integer>
			<key>Shape</key>
			<string>VerticalTriangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>w</key>
						<real>0.75</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99.212599999999995, 28.346599999999999}, {28.346399999999999, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>167</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>w</key>
						<real>0.5</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99.212500000000006, 56.692900000000002}, {28.346499999999999, 28.346800000000002}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>168</integer>
			<key>Shape</key>
			<string>VerticalTriangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>w</key>
						<real>0.75</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.346399999999999, 155.90600000000001}, {340.15800000000002, 127.559}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1176</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Offset</key>
			<string>{-0.080000000000000002, -0.029999999999999999}</string>
			<key>Scale</key>
			<real>0.18000000715255737</real>
			<key>StretchImage</key>
			<true/>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>2</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>176</integer>
			</dict>
			<key>ID</key>
			<integer>178</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>3.5866999999999996</real>
			<key>Points</key>
			<array>
				<string>{113.38579999999999, 28.346599999999999}</string>
				<string>{42.5197, 14.1732}</string>
				<string>{14.1732, 283.46499999999997}</string>
				<string>{155.90500000000003, 380.09954752100714}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>167</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>166</integer>
			</dict>
			<key>ID</key>
			<integer>179</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{283.464, 28.3461}</string>
				<string>{340.15699999999998, 14.1732}</string>
				<string>{382.67700000000002, 283.46499999999997}</string>
				<string>{240.94450000000003, 380.09963636363636}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.346499999999999, 85.039400000000001}, {170.07900000000001, 70.866799999999998}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>227</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.083332100000000006, -0.5}</string>
					<string>{0.083332100000000006, -0.5}</string>
					<string>{0.083332400000000001, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.5, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.75</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.999996</string>
						<key>space</key>
						<string>srgb</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{198.42500000000001, 85.039400000000001}, {170.07900000000001, 70.866799999999998}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1158</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.083332100000000006, -0.5}</string>
					<string>{0.083332100000000006, -0.5}</string>
					<string>{0.083332400000000001, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.083334199999999997, -0.5}</string>
					<string>{-0.5, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.75</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.999996</string>
						<key>space</key>
						<string>srgb</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.17322826385498</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.tiff</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2019-01-12 11:56:13 +0000</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.27554607391357, 841.8897705078125}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSScalingFactor</key>
		<array>
			<string>float</string>
			<string>1.3</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>FitInWindow</key>
		<true/>
		<key>Frame</key>
		<string>{{653, 152}, {1083, 1025}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>0</integer>
		<key>TopSlabHeight</key>
		<real>33</real>
		<key>VisibleRegion</key>
		<string>{{-46, 0}, {532.55565937269171, 628.76800495910675}}</string>
		<key>Zoom</key>
		<real>1.1353093261739713</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.0</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
