<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.23.0.276662</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {817.39837646484375, 570.7841796875}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColorProfiles</key>
	<array>
		<dict>
			<key>data</key>
			<data>
			AAACJGFwcGwEAAAAbW50clJHQiBYWVogB+EABwAHAA0AFgAgYWNz
			cEFQUEwAAAAAQVBQTAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA
			0y1hcHBsyhqVgiV/EE04mRPV0eoVggAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAKZGVzYwAAAPwAAABlY3BydAAAAWQAAAAj
			d3RwdAAAAYgAAAAUclhZWgAAAZwAAAAUZ1hZWgAAAbAAAAAUYlhZ
			WgAAAcQAAAAUclRSQwAAAdgAAAAgY2hhZAAAAfgAAAAsYlRSQwAA
			AdgAAAAgZ1RSQwAAAdgAAAAgZGVzYwAAAAAAAAALRGlzcGxheSBQ
			MwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAB0ZXh0AAAAAENvcHlyaWdodCBBcHBsZSBJbmMuLCAyMDE3
			AABYWVogAAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAACD3wAAPb//
			//+7WFlaIAAAAAAAAEq/AACxNwAACrlYWVogAAAAAAAAKDgAABEL
			AADIuXBhcmEAAAAAAAMAAAACZmYAAPKnAAANWQAAE9AAAApbc2Yz
			MgAAAAAAAQxCAAAF3v//8yYAAAeTAAD9kP//+6L///2jAAAD3AAA
			wG4=
			</data>
			<key>space</key>
			<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
		</dict>
	</array>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-02-22 14:11:09 +0000</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1.0000 cm = 1.0000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{510.2362174987793, 14.172891250610292}, {113.38588909759522, 42.52002180480963}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1022</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 channel \'93GPU1\'94\
eye [cyclop]\
viewport [&lt;right&gt;\}}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{368.50393486022949, 14.172891250610292}, {113.38587173614502, 42.52002180480963}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1021</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.61568599999999996</real>
						<key>g</key>
						<real>0.42352899999999999</real>
						<key>r</key>
						<real>0.235294</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 channel \'93GPU0\'94\
eye [cyclop]\
viewport [&lt;left&gt;]}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1020</integer>
			</dict>
			<key>ID</key>
			<integer>1017</integer>
			<key>Points</key>
			<array>
				<string>{556.04488533536369, 57.139872757762518}</string>
				<string>{542.05556794007509, 85.03935652770997}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1022</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1020</integer>
			</dict>
			<key>ID</key>
			<integer>1016</integer>
			<key>Points</key>
			<array>
				<string>{435.9139176817132, 57.141253755706046}</string>
				<string>{449.68674036262087, 85.03935652770997}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1021</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{354.33070659637451, 226.77165222167969}, {99.212597846984863, 42.519728263854972}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1013</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.30196099999999998</real>
						<key>g</key>
						<real>0.69019600000000003</real>
						<key>r</key>
						<real>0.93333299999999997</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1984</string>
						<key>g</key>
						<string>0.458387</string>
						<key>r</key>
						<string>0.62</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1984</string>
						<key>g</key>
						<string>0.458387</string>
						<key>r</key>
						<string>0.62</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
						<key>space</key>
						<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\b\fs24 \cf1 view \{\
  mode MONO\
\}}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{14.17322826385498, 226.77165222167969}, {99.212597846984863, 42.519684791564941}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1008</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.30196099999999998</real>
						<key>g</key>
						<real>0.69019600000000003</real>
						<key>r</key>
						<real>0.93333299999999997</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1984</string>
						<key>g</key>
						<string>0.458387</string>
						<key>r</key>
						<string>0.62</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1984</string>
						<key>g</key>
						<string>0.458387</string>
						<key>r</key>
						<string>0.62</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
						<key>space</key>
						<string>031375ea2e6fd7f8c2ca30fdc720c8d7c8a37a18</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\b\fs24 \cf1 view \{\
  mode STEREO\
\}}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.07873916625977, 14.172891250610348}, {113.38588909759522, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>987</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.247059</real>
						<key>g</key>
						<real>0.258824</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.1643</string>
						<key>g</key>
						<string>0.170395</string>
						<key>r</key>
						<string>0.53</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 channel \'93GPU1\'94\
eye [right]}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.346456527709961, 14.172891250610348}, {113.38587173614502, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1012</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.61568599999999996</real>
						<key>g</key>
						<real>0.42352899999999999</real>
						<key>r</key>
						<real>0.235294</real>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.42</string>
						<key>g</key>
						<string>0.2898</string>
						<key>r</key>
						<string>0.1596</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>3</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf200
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\b\fs24 \cf1 channel \'93GPU0\'94\
eye [left]}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{14.1732, 84.004756527709958}, {283.46499999999997, 184.25200000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{354.33100000000002, 85.03935652770997}, {283.46499999999997, 184.25200000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1020</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>1015</integer>
			<key>Points</key>
			<array>
				<string>{219.7617863963327, 42.970269191751989}</string>
				<string>{200.0924054999619, 84.004756527709958}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>987</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>1014</integer>
			<key>Points</key>
			<array>
				<string>{92.041199793867435, 42.970366948643509}</string>
				<string>{111.68770269003444, 84.004756527709958}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1012</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.17322826385498</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2018-04-16 14:45:25 +0000</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{841.8897705078125, 595.27554607391357}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>12.2457</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>FitInWindow</key>
		<true/>
		<key>Frame</key>
		<string>{{561, 309}, {1309, 673}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>33</real>
		<key>VisibleRegion</key>
		<string>{{0, -4.0000000000000249}, {817.39837646484375, 580.54434629315654}}</string>
		<key>Zoom</key>
		<real>0.99217226673177894</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.0</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
